<%- include('commons/admin/head.ejs') %>
<%- include('commons/admin/nav.ejs') %>
<%- include('commons/admin/sidebar.ejs') %>

<div class="main-content">
    <section class="section">
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Admins</h4>
          
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-striped">
              <tr>
                <th class="text-center">
                  
                </th>
                <th>Fullname</th>
                <th>Email</th>
                <th>Phone</th>
                <th> Short Bio</th>
            
              </tr>
              <tr> 
                  <% if(adminData) { %>
                <% for(var i=0; i < adminData.length; i++) { %>
                <td class="p-0 text-center">
                  
                </td>
                <td> <%= adminData[i].fullname %></td>
       
                <td class="align-middle">  <%= adminData[i].email %> </td>
                <td> <%= adminData[i].phone %></td>
                <td> <%= adminData[i].short_intro %></td>
              
              </tr>
              <% } %>
              <% } %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  </div>
  

  <%- include('commons/admin/end.ejs') %>
  