<%- include('commons/user/head.ejs') %>
	<%- include('commons/user/nav.ejs') %>

	<section class="inner-page">
		<div class="slider-item py-5" style="background-image: url('img/blogs_bg.jpg');">
		  
		  <div class="container">
			<div class="row slider-text align-items-center justify-content-center text-center">
			  <div class="col-md-7 col-sm-12 element-animate">
				<h1 class="text-white">Blogs</h1>
			  </div>
			</div>
		  </div>
  
		</div>
	  </section>

		<section id="blogs">
			<div class="container">
				<div class="row mt-5">
					<% if(blogs && blogs.length> 0) { %>
						<% for(var i=0 ; i< blogs.length ; i++) { %>
							<div class="col-lg-4 mb-4">

								<div class="card">

									<img src="<%= blogs[i].blog_header_image%>" alt="Blog Image "
										class="card-img-top">
									<div class="card-body">
										<h5 class="card-title">
											<%=blogs[i].blog_title %>
										</h5>
										<p class="card-text"><%=blogs[i].blog_sub_title %></p>
										<a href="/blogs/single/<%=blogs[i].blog_id %>" class="d-inline-block px-4 py-2 border text-white" style="background-color:#007bff;">Read More</a>
									</div>
								</div>
							</div>
							<% } %>
								<% }else { %>
									<div class="col-lg-4 mb-4">
										<div class="card">
											<img src="https://images.unsplash.com/photo-1516214104703-d870798883c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60"
												alt="" class="card-img-top">
											<div class="card-body">
												<h5 class="card-title">Sunset</h5>
												<p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing
													elit. Ut eum
													similique repellat a laborum, rerum voluptates ipsam eos quo tempore
													iusto dolore
													modi
													dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
												<a href="" class="btn btn-outline-success btn-sm">Read More</a>
											</div>
										</div>
									</div>

									<% } %>
				</div>
			</div>
		</section>

		<%- include('commons/user/end.ejs') %>