<%- include('commons/admin/head.ejs') %>
    <%- include('commons/admin/nav.ejs') %>
        <%- include('commons/admin/sidebar.ejs') %>

            <div class="main-content">
                <section class="section">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-6">

                                    <% if(quote) { %>
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h4>Quote Detail</h4>
                                                <div class="card-header-action">
                                                    <a href="#" class="btn btn-primary">
                                                        <%= quote.first_name %>
                                                            <%= quote.last_name %>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <h5>Email</h5>
                                                <p>
                                                    <%= quote.email %>
                                                </p>
                                                <h5>Phone</h5>
                                                <p>
                                                    <%= quote.phone %>
                                                </p>

                                                <h4>Company Info</h4>
                                                <p>
                                                    <%= quote.about_company %>
                                                </p>
                                                <h4>Project Info</h4>
                                                <p>
                                                    <%= quote.about_project %>
                                                </p>
                                            </div>
                                        </div>
                                        <% } %>
                                </div>
                </section>
            </div>


            <%- include('commons/admin/end.ejs') %>