<%- include('commons/admin/head.ejs') %>
    <%- include('commons/admin/nav.ejs') %>
        <%- include('commons/admin/sidebar.ejs') %>
        <style>
            .appendEllipsis {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 200px;
            }
          </style>

            <div class="main-content">
                <section class="section">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Recent Quotes</h4>

                                </div>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <tr>
                                                <th class="text-center">

                                                </th>
                                                <th >Fullname</th>
                                                <th>Email</th>
                                                <th>Message</th>
                                                <th>Details</th>
                                            </tr>
                                            <tr>
                                                <% if(quotes) { %>
                                                    <% for(var i=0; i < quotes.length; i++) { %>
                                                        <td class="p-0 text-center">

                                                        </td>

                                                        <td class="appendEllipsis">
                                                            <%= quotes[i].first_name %>  <%= quotes[i].last_name %> 
                                                        </td>
                                                        <td class="appendEllipsis" >
                                                            <%= quotes[i].email %>
                                                        </td>
                                                        <td class="appendEllipsis">
                                                                <%= quotes[i].about_project %>
                                                        </td>
                                                        <td><a href="/admin/quotes/<%= quotes[i].quote_id %>" class="btn btn-outline-primary">See More</a></td>

                                            </tr>
                                            <% } %>
                                                <% } %>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>



            <%- include('commons/admin/end.ejs') %>